
:root {
    --color-primary: #6246EA;
    --color-secondary: #A3A8FE;
    --color-tertiary: #6D5FF5;
    --color-btn-text: #FFFFFF;
    --color-hover-yellow: #EBD63D;
}

.btn-primary{
    background-color: var(--color-tertiary);
    color: var(--color-btn-text);
    border: none;
    font-weight: 400;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-primary:hover{
    background-color: var(--color-primary);
    font-weight: 500;
    cursor: pointer;
}

